body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

}

ul, li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: 1px solid black;
}

header {
  grid-column: span 3;
  justify-items: center;
  border-bottom: 1px solid black;
  background: darkslategray;
  color: darkgray;
}

.crypto{
  padding: 30px;
  border-right: 1px solid black;
  background: dimgray;
  grid-row-start: 2;
  grid-row: span 3;
}

.crypto > h1 {
  font-size: 1.5em;
}

.crypto > li {
  text-decoration: underline;
}

.gameArea {
  padding: 30px;
  background: darkolivegreen;
  justify-items: center;
  color: darkgray;
  grid-column-start: 2;
  grid-row-start: 2;

}

#resultsArea {
  font-size: 50px;
  width: 100%;
  color: orange;
  grid-column: 2 / span 2;
  justify-items: center;
}

#dealerArea {
  justify-items: center;
}

#playerArea {
  justify-items: center;
}

#startBtnArea {
  justify-self: start;
}

.buttonArea{
  display: flex;
  flex-direction: column;
  background: darkolivegreen;
}

.winLossArea  {
  display: flex;
  justify-content: space-evenly;
  color: darkgray;
}

#dealerCards {
  display:flex;
  height: 175px;
  width: 125px;
  margin: 1px;
}

#playerCards {
  display:flex;
  height: 175px;
  width: 125px;
  margin: 1px;
}

.button{
  height: 50px;
  font-size: 20px;
  width: 200px;
  color: white;
  align-self: center;
  background-color: limegreen;
  -webkit-box-shadow: inset 0px 0px 14px 5px black;
  -moz-box-shadow: inset 0px 0px 14px 5px black;
  box-shadow: inset 0px 0px 14px 5px black;
}
#startPlayBtn {
  width: 180px;
}

#hitBtn {
  grid-column-start: 3;
}

#stayBtn {
  /* grid-row-start: 1; */
  margin: 50px 0 50px 0;
}

#newGameBtn {
  width: 205px;
}

footer {
  grid-column: 1/span 3;
  text-align: start;
  border-top: 1px solid black;
  background: darkslategray;
  color: darkgray;
  padding: 10px;
}






