body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.grid-container {
  display: grid;
  grid-template-columns: 400px 3fr 1fr;
}

.header {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  background: dimgrey;
  color: white;
  align-items: center;
  background-size: cover;
  background-image: url(./images/headerFooterBackground.png)
}

#title {
  font-size: 50px;
  -webkit-text-stroke: 2px white;
  color: transparent;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -435px 0;
  animation: backcolor 6s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

#logo {
  width: 188px;
  height: 160px;
}

.gameArea {
  padding: 30px;
  background: darkolivegreen;
  justify-items: center;
  color: white;
  grid-column-start: 2;
  grid-row-start: 2;
  background-size: cover;
  background-image: url(./images/gameAreaBackground.png);
}

#resultsArea {
  font-size: 50px;
  width: 100%;
  color: white;
  grid-column: 2 / span 2;
  justify-items: center;
}

#startBtnArea {
  justify-self: start;
}

.buttonArea{
  display: flex;
  flex-direction: column;
  background: darkolivegreen;
  padding: 30px;
  background-size: cover;
  background-image: url(./images/buttonsBackground.png);
}

.winLossArea  {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#dealerCards {
  display:flex;
  height: 175px;
  width: 125px;
  margin: 1px;
}

#playerCards {
  display:flex;
  height: 175px;
  width: 125px;
  margin: 1px;
}

.button{
  height: 50px;
  font-size: 20px;
  width: 150px;
  color: white;
  align-self: center;
  background-color: purple;
  -webkit-box-shadow: inset 0px 0px 14px 5px black;
  -moz-box-shadow: inset 0px 0px 14px 5px black;
  box-shadow: inset 0px 0px 14px 5px black;
  border-radius: 12px;
}

.button:hover{
  background-color: green;
}

#stayBtn {
  margin: 50px 0 50px 0;
}

footer {
  grid-column: 1/span 3;
  text-align: start;
  border-top: 1px solid black;
  background: dimgrey;
  color: white;
  padding: 10px;
  background-size: cover;
  background-image: url(./images/footerBackground.png)
}

