.crypto{
  padding: 30px;
  border-right: 1px solid black;
  background: darkslategray;
  grid-row-start: 2;
  grid-row: span 3;
  color: white;
  background-size: cover;
  background-image: url(./images/crypto.png);
}

.crypto > h1 {
  font-size: 1.5em;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  color: white;
  background-color: black;
}

.ticker-text {
  display: flex;
  white-space: nowrap;
  animation: tickerAnimation 30s linear infinite;
  padding: 15px;
  color: white;
  gap: 10px;
  }

@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#cryptoSearch{
  width: 250px;
  border-radius: 8px;
  height: 30px;
}

#searchBtn {
  border-radius: 8px;
  height: 30px;
  background-color: purple;
  color: white; 
}

#searchBtn:hover {
  background-color: green;
}
#searchTable {
  display: flex;
  justify-content: center;
  color: white;
}

table {
  border-collapse: collapse;
}

th , td {
  border: 1px solid;
  width: 100px;
  text-align: center;
  padding: 5px;
}

th {
  height: 50px;
}

td {
  height: 70px;
}





